<%- include('partials/header.ejs'); -%>
<h2><%= details.book_id %></h2>
<p><%= details.review %></p>
<p><%= details.notes %></p>
<h2><%= details.date_read %></h2>
<h2><%= details.recommendation_score %></h2>
<%- include('partials/footer.ejs'); -%>