<%- include('partials/header.ejs'); -%>

<% if (locals.bookList) { %>
  <!-- Query parameter -->
    <!-- <a href="/details?id='bookList[0].id'">Book Details</a> -->
  <!-- Path Parameter -->
    <!-- <a href="/details/'encodeURIComponent(bookList[0].id)'">Book Details</a> --> 
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
          <article class="blog-post">
              <div class="blog-post-meta-container">
                <h2 class="display-5 link-body-emphasis mb-1"> Books I have read </h2>
              </div>
              <p id="summary-text" class="summary-paragraph">Tiny summary but <strong>detailed notes for each</strong>. Use the ISBN number to find it from your local library or anywhere else. <strong>This page will constantly update as I read more</strong>, so bookmark it if you want to check back in a few months.</p>
              <p class="summary-paragraph">Sorted with <strong>my top recommendations up top</strong>. Sort by <a href="/?sort=title">title</a>, <a href="/?sort=date">newest</a>, or <a href="/?sort=rating">best</a>.</p>
              <hr>
          </article>      
      </div>
    </div>
  </div>
  <% for ( let i = 0; i < bookList.length; i++ ) { %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <article class="blog-post">
                  <div class="blog-post-meta-container">
                    <img id="book-cover" src="data:image/jpeg;base64,<%= covers[i] %>" alt="Book Cover">
                    <h2 class="display-5 link-body-emphasis mb-1 book-title"><%= bookList[i].title %></h2>
                    <p class="author-name">- by <a href="https://en.wikipedia.org/wiki/<%= bookList[i].author %>"><%= bookList[i].author %></a></p>
                  </div>
                  <div class="blog-post-meta-container">
                    <p class="blog-post-meta blog-post-meta-paragraph">DATE READ: <%= bookList[i].date_read.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %> </p>
                    <p class="blog-post-meta blog-post-meta-paragraph">|</p>
                    <p class="blog-post-meta blog-post-meta-paragraph">ISBN: <%= bookList[i].key_value %> </p>
                    <p class="blog-post-meta blog-post-meta-paragraph">|</p>
                    <p class="blog-post-meta blog-post-meta-paragraph">How strongly I recommend it: <%= bookList[i].recommendation_score %>/10 </p>
                  </div>
                  <p id="amazon-paragraph">Read <a href="/details/<%= encodeURIComponent(bookList[i].id) %>">my notes</a>, or Go to the <a href="https://www.amazon.com/s?k=<%= bookList[i].key_value %>">Amazon page</a> for details and reviews.</p>
                  <hr>
                  <p><%= bookList[i].review %></p>
                  <hr>
                </article>      
              </div>
        </div>
    </div>
  <% } %>  
<% } %>

<%- include('partials/footer.ejs'); -%>