<%- include('partials/header.ejs'); -%>

<% if (locals.bookList) { %>
  <!-- Query parameter -->
    <!-- <a href="/details?id='bookList[0].id'">Book Details</a> -->
  <!-- Path Parameter -->
    <!-- <a href="/details/'encodeURIComponent(bookList[0].id)'">Book Details</a> --> 
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
          <article class="blog-post">
              <div class="blog-post-meta-container">
                <h2 class="display-5 link-body-emphasis mb-1"> Books I have read </h2>
              </div>
              <p id="summary-text" class="summary-paragraph">Tiny summary but <strong>detailed notes for each</strong>. Use the ISBN number to find it from your local library or anywhere else. <strong>This page will constantly update as I read more</strong>, so bookmark it if you want to check back in a few months.</p>
              <p class="summary-paragraph">Sorted with <strong>my top recommendations up top</strong>. Sort by title, newest, or best.</p>
              <hr>
          </article>      
      </div>
    </div>
  </div>
  <% bookList.forEach(book => { %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <article class="blog-post">
                  <div class="blog-post-meta-container">
                    <h2 class="display-5 link-body-emphasis mb-1"><%= book.title %></h2>
                    <p class="author-name">- by <a href="https://en.wikipedia.org/wiki/<%= book.author %>"><%= book.author %></a></p>
                  </div>
                  <div class="blog-post-meta-container">
                    <p class="blog-post-meta blog-post-meta-paragraph">DATE READ: <%= book.date_read.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %> </p>
                    <p class="blog-post-meta blog-post-meta-paragraph">|</p>
                    <p class="blog-post-meta blog-post-meta-paragraph">ISBN: <%= book.key_value %> </p>
                    <p class="blog-post-meta blog-post-meta-paragraph">|</p>
                    <p class="blog-post-meta blog-post-meta-paragraph">How strongly I recommend it: <%= book.recommendation_score %>/10 </p>
                  </div>
                  <p id="amazon-paragraph">Read <a href="/details/<%= encodeURIComponent(book.id) %>">my notes</a>, or Go to the <a href="https://www.amazon.com/s?k=<%= book.key_value %>">Amazon page</a> for details and reviews.</p>
                  <hr>
                  <p><%= book.review %></p>
                  <hr>
                </article>      
              </div>
        </div>
    </div>
  <% }) %>  
<% } %>

<%- include('partials/footer.ejs'); -%>