<%- include('partials/header.ejs'); -%>
<% if (locals.bookList) { %>
    <h1><%= bookList[0].title %></h1>
    <h1><%= bookList[0].author %></h1>
    <!-- Query parameter -->
    <!-- <a href="/details?id='bookList[0].id'">Book Details</a> -->
    
    <!-- Path Parameter -->
    <a href="/details/<%= encodeURIComponent(bookList[0].id) %>">Book Details</a>
    <% } %>
<%- include('partials/footer.ejs'); -%>